.root .item,
.root .item .splitter,
.root .item .editor {
    height: 100%;
}

.root .item .editor {
    position: relative;
}

.root .item .editor::after {
    position: absolute;
    right: 30px;
    bottom: 10px;
    content: attr(data-label);
    opacity: 0.1;
    font-size: 4rem;
}

.root .item .splitter {
    display: flex;
}

.root .item .splitter :global(.gutter.gutter-horizontal) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.root .item .viewer {
    padding: 5px;
}

.root .item .jp_tester {
    position: relative;
    
    height: 100%;
}

.root .item .jp_tester .jsonpath {
    height: 85px;
    border-bottom: 5px solid var(--shadow-color);
}

.root .item .jp_tester .jsonpath textarea {
    padding: 5px;
    width: calc(100% - 5px * 2);
    height: calc(100% - 5px * 2);

    resize: none;
    outline: none;
    border: none;

    font-size: 16px;
}

.root .item .jp_tester .board {
    padding: 3px;
    height: calc(100% - 85px - 5px - 3px * 2);
}