:global(body),
:global(#root),
.root {
    height: 100%;
}

.root .json_editor {
    overflow-y: hidden;
    padding: 3px;
    width: calc(100% - 3px * 2);
    height: calc(100% - 3px * 2);
}