#windows10 {
	height: 100vh;
}

#windows10 .desktop {
	height: calc(100vh - 45px);
}

#windows10 .taskbar {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #cecece;
	line-height: 40px;
	vertical-align: middle;
}

#windows10 .taskbar .start-icon {
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

#windows10 .taskbar .start-icon svg {
	width: 18px;
	height: 18px;

}