.root {
    display: flex;
    height: 100vh;
}

.root .editor {
    padding: 3px;
    width: 200px;
    overflow-y: hidden;
}

.root .viewer {
    flex: 1;
    overflow-y: scroll;
    border-left: 5px solid var(--shadow-color);
    user-select: none;
}

.root .viewer .options {
    min-height: 200px;
}

.root .viewer .result {
    border-top: 5px solid var(--shadow-color);
}