.blog dt a {
	text-decoration: none;
}

.blog dd {
	margin: 0;
	padding: 0;
	line-height: 2rem;
}

.blog .summary code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
}

.light .blog .summary code {
	background: #f8f8f8;
}

.dark .blog .summary code {
	background: #f8f8f8;
	color: #000;
}

.pager {
	margin: 10px auto;
	padding: 15px 0;
	border-top: 1px dashed #ccc;
	width: 300px;
	text-align: center;
}