#blog-list .blog dt a {
	text-decoration: none;
}

#blog-list .blog dd {
	margin: 0;
	padding: 0;
	line-height: 2rem;
}

#blog-list .blog .summary {
	word-break: break-all;
}

#blog-list .blog .summary code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
}

#blog-list .light .blog .summary code {
	background: #f8f8f8;
}

#blog-list .dark .blog .summary code {
	background: #f8f8f8;
	color: #000;
}

#blog-list .pager {
	display: flex;
	margin: 10px auto;
	padding: 15px 0;
}

#blog-list .pager .pager-navi {
	flex: 1;
}

#blog-list .pager .pager-navi a {
	text-decoration: none;
}

#blog-list .pager .pager-navi.prev {
	text-align: left;
}

#blog-list .pager .pager-navi.desc {
	text-align: center;
	color: #acacac;
	opacity: 0.2;
	user-select: none;
}

#blog-list .pager:hover .pager-navi.desc {
	opacity: 0.9;
}

#blog-list .pager .pager-navi.next {
	text-align: right;
}