body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: -apple-system,Helvetica Neue,Helvetica,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
