[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/litten/hexo-theme-yilia.git
