.root {
    padding: 5px;
    height: calc(100% - 5px * 2);
    overflow-y: auto;
}

.root h3 {
    border-left: 5px solid var(--border-color);
    text-indent: 10px;
    line-height: 2rem;
}

.root .desc dt {
    text-transform: uppercase;
}