.root {
	position: sticky;
	display: flex;
	top: 0;
	height: 50px;
	line-height: 50px;
	/* border-bottom: 1px solid #ccc; */
	box-shadow: 0 2px 2px 0 var(--shadow-color);
	background-color: #fff;
	user-select: none;
	z-index: 99;
}

.root .logo {
    display: inline-block;
    margin: 0;
	width: 120px;
	text-align: center;
	font-weight: 600;
}

.root .logo img {
	margin-right: 10px;
	width: 28px;
	height: 28px;
}

.root .logo b {
	font-size: 16px;
}

/** component - header **/
.root .navi {
    flex: 1;
    margin: 0;
    padding: 0;
    width: calc(100% - 200px);
    text-align: right;
}

.root .navi .navi_item {
	position: relative;
    display: inline-block;
	padding: 0 1rem;
	list-style-type: none;
	cursor: pointer;
}

.root .navi .navi_item.selected {
	color: indigo;
	font-weight: 700;
}

.root .navi .navi_item:hover .navi_hover {
	display: block;
}

.root .navi .navi_item .navi_text {
	display: inline-block;
	line-height: 50px;
}

.root .navi .navi_item .navi_hover {
	position: absolute;
	display: none;
	right: 0px;
	width: 160px;

	text-align: center;
	line-height: 24px;
}

.root .navi .navi_item .navi_hover ul {
	margin: 6px 0 0;
	padding: 10px 0;
	border: 2px solid #efefef;
	border-radius: 5px;
}

.root .navi .navi_item .navi_hover ul li {
	list-style: none;
	line-height: 30px;
}

.root .navi .navi_item .navi_hover ul li:hover {
	background-color: #efefef;
	opacity: 0.8;
}

.root .navi .trigger {
    display: none;
}
