.header a, 
.logo {
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 120px;
    height: var(--navi-header-height);
    line-height: calc(var(--navi-header-height) - 1px);
    text-align: center;
    font-weight: 700;
    font-size: 0.9rem;
}

.navi.header {
    display: flex;
    padding: 5px 10px;
    z-index: 9;
    height: var(--navi-header-height);
    box-shadow: 0 1px 1px 0 var(--border-color);
}

.navi.header .header_navi_group {
    padding: 3px;
    flex: 1;
    line-height: calc(var(--navi-header-height) - 3px * 2);
}

.navi.header .header_navi_group.header_navi_group_left {
    border-left: 1px solid var(--border-color);
    overflow: hidden;
}

.navi.header .header_navi_group a {
    position: relative;
    padding: 0 15px;
    color: #3e3e3e;
    font-size: 0.9rem;
}

.navi.header .header_navi_group.header_navi_group_left a {
    border-right: 1px solid var(--border-color);
    opacity: 0.6;
}

.navi.header .header_navi_group.header_navi_group_left a:global(.active) {
    opacity: 0.9;
}

.navi.header .header_navi_group a:global(.active)::after {
    position: absolute;
    top: 50%;
    left: 5px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--border-color);
    border-radius: 50%;
}

.navi.header .header_navi_group.header_navi_group_right {
    text-align: right;
}
