.root {
    height: 100vh;
}

.root .keys .key,
.root .keys .logo {
    display: inline-block;
    padding: 5px 25px;
    
    cursor: pointer;
    user-select: none;
}

.root .keys .key {
    font-size: 12px;
}

.root.navi .keys {
    line-height: 30px;
    border-bottom: 1px solid grey;
}

.root.navi .keys .key.selected {
    border-bottom: 1px solid #2aa0ea;
    background-color: var(--shadow-color);
    opacity: 0.8;
}

.root .body {
    height: calc(100% - 40px - 1px - 1px - 1px);
    overflow-y: hidden;
}