.root {
    display: flex;
    height: 100vh;
}

.root .toml_editor {
    padding: 3px;
    flex: 1;
}

.root .json_viewer {
    padding: 5px;
    width: 28%;
    border-left: 5px solid var(--shadow-color);
    user-select: none;
}
