.root {
    margin: root;
}

.root .profile {
    display: flex;
    margin: 20px 0;
}

.root .profile .logo {
    padding: 10px;
    width: 60px;
    height: 60px;

    border: 1px solid var(--theme-color);
}

.root .profile .meta {
    flex: 1;
    margin: 16px 0 0 10px;
}

.root .profile .meta h3,
.root .profile .meta p {
    margin: 0;
}

.root .profile .meta h3 {
    line-height: 32px;
    border-bottom: 1px solid var(--theme-color);
}

.root .profile .meta p {
    line-height: 28px;
}