.root {
    margin: 0;
}

.root .cards {
    margin: 5px 0;
}

.root .cards .card {
    display: inline-block;
    width: 33%;
    
}

.root .cards .card .container {
    margin: 5px;
    padding: 5px;
    border: 1px solid #efefef;
    border-radius: 5px;
}

.root .cards .card .container .title {
    height: 30px;
    line-height: 30px;
}

.root .cards .card .container .desc {
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}