.root {
    margin: 0;
}

.root a {
    text-decoration: none;
    color: gray;
}

.root .container {
    margin: 0 auto;
    padding: 0 10px;
}

.root .container[data-role='main'],
.root .container[data-role='footer'] {
    width: var(--view-width);
}

.root .container[data-role='main'] {
    padding: 10px;

    min-height: 500px;
}