.root {
	overflow-x: hidden;
}

.root .header a,
.root .main a,
.root .footer a {
    text-decoration: none;
    color: gray;
}

.root .main,
.root .footer {
    margin: 0 auto;
    width: var(--view-width);
}

/** component - header **/
.root .header {
	position: sticky;
	display: flex;
    padding: 0 10px;
	top: 0;
	height: 50px;
	line-height: 50px;
	/* border-bottom: 1px solid #ccc; */
	box-shadow: 0 2px 2px 0 var(--border-color);
	background-color: #fff;
	user-select: none;
	z-index: 99;
}

.root .header .logo {
    display: inline-block;
    margin: 0;
	width: 120px;
	text-align: center;
	font-weight: 600;
}

.root .header .logo img {
	margin-right: 10px;
	width: 28px;
	height: 28px;
}

.root .header .logo b {
	font-size: 16px;
}

.root .header .navi {
    flex: 1;
    margin: 0;
    padding: 0;
    width: calc(100% - 200px);
    text-align: right;
}

.root .header .navi .navi_item {
	position: relative;
    display: inline-block;
	padding: 0 1rem;
	list-style-type: none;
	cursor: pointer;
}

.root .header .navi .navi_item.selected {
	color: indigo;
	font-weight: 700;
}

.root .header .navi .navi_item:hover .navi_hover {
	display: block;
}

.root .header .navi .navi_item .navi_text {
	display: inline-block;
	line-height: 50px;
}

.root .header .navi .navi_item .navi_hover {
	position: absolute;
	display: none;
	right: 0px;
	width: 160px;

	text-align: center;
	line-height: 24px;
}

.root .header .navi .navi_item .navi_hover ul {
	margin: 6px 0 0;
	padding: 10px 0;
	border: 2px solid #efefef;
	border-radius: 5px;
}

.root .header .navi .navi_item .navi_hover ul li {
	list-style: none;
	line-height: 30px;
}

.root .header .navi .navi_item .navi_hover ul li:hover {
	background-color: #efefef;
	opacity: 0.8;
}

.root .header .navi .trigger {
    display: none;
}

/** component - main **/

.root .main {
    padding: 10px;
    min-height: 500px;
}

/** component - footer **/
.root .footer {
	margin-top: 0;
	min-height: 120px;
	border-top: 1px solid var(--border-color);
}

.root .footer .navi {
	display: flex;
}


.root .footer .navi .section {
	flex: 1;
}

.root .footer .navi .section dt {
	font-size: 0.8rem;
	font-weight: 800;
}

.root .footer .navi .section dd {
	margin: 0;
	font-size: 0.7rem;
}

.root .footer .navi .section dd ul {
	padding-left: 15px;
	line-height: 25px;
}

.root .footer .copyright {
	text-align: center;
	line-height: 3rem;
}
