/** component - header **/
#root header {
	margin-bottom: 10px;
	will-change: transform;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	height: 50px;
	line-height: 50px;
	background: linear-gradient(#ffffff, #fdfefd, #ffffff);
	user-select: none;
}

#root header a {
	text-decoration: none;
}

@media screen and (max-width: 600px) {

	#root header {
		text-align: center;
	}

	#root header .container {
		height: 100%;
	}


	#root header ul.navi {
		display: none;
		margin: 5px 0 0;
		padding: 0;
		width: 100%;
		z-index: 1;
	    background-color: #fff;
	}


	#root header ul.navi.true {
		display: block;
		border-top: 1px solid rgba(230, 230, 230, 0.2);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	#root header ul.navi.true li {
		border-bottom: 1px solid rgba(230, 230, 230, 0.2);
	}

	#root header .navi-trigger {
		display: block;
		position: absolute;
		margin: 0 5px;
		padding: 0 20px;
		top: 0;
		right: 0;
		height: 50px;
		line-height: 50px;
	}


	#root header .navi-trigger .holder svg {
		margin-top: -5px;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}

	#root header ul.true li.more-links,
	#root header ul.true li.github-logo {
		display: none;
	}

}

@media screen and (min-width: 601px) {

	#root header .container {
		display: flex;
		align-items: center;
	}

	#root header .logo {
		width: 100px;
	}

	#root header ul.navi {
		margin: 0;
		padding: 0;
		flex: 1;
		text-align: right;
	}

	#root header ul.navi li {
		display: inline-block;
	}

	#root header .navi-trigger {
		display: none;
	}

}

#root header .logo {
	font-weight: 600;
	text-align: center;
}

#root header ul.navi li {
	padding: 0 1rem;
	font-size: 14px;
	list-style-type: none;
}

/** Github Logo **/
#root header ul.false li.github-logo a {
	position: relative;
	top: 4px;
}

#root header ul.false li.github-logo svg {
	opacity: 0.3;
	width: 18px;
	height: 18px;
}

#root header ul.false li.github-logo:hover svg {
	opacity: 0.8;
}

/** More Links **/

#root header ul.false li.more-links {
	position: relative;
}

#root header ul.false li.more-links .x {
	padding: 2px 5px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 2px;
    border: 1px solid #d9d9d9;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
}

#root header ul.false li.more-links:hover .x {
	opacity: 0.7;
}

#root header ul.false li.more-links svg {
	position: relative;
	left: 2px;
	top: 2px;
}

#root header ul.false li.more-links ol {
	position: absolute;
	display: none;
	margin: 0;
	padding: 5px 0 5px 12px;
	background-color: #fff;
	width: 130px;
	text-align: left;
	line-height: 25px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	top: 40px;
	right: 16px;
}

#root header ul.false li.more-links:hover ol {
	display: block;
}

#root header ul.false li.more-links ol li {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 12px;
}
