/** component - header **/

#root header {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	will-change: transform;
    box-shadow: 0 2px 5px rgba(0,0,0,.08);
	height: 60px;
	line-height: 60px;
}

#root header a {
	text-decoration: none;
}

@media screen and (max-width: 600px) {

	#root header {
		text-align: center;
	}

	#root header .container {
		height: 100%;
	}


	#root header ul.navi {
		display: none;
		margin: 11px 0 0;
		padding: 0;
		z-index: 1;
	    background-color: #fff;
	}

	#root .full-width header ul.navi {
		width: 100%;
	}

	#root header ul.navi.true {
		display: block;
		position: fixed;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	#root header .navi-trigger {
		display: block;
		position: absolute;
		margin: 10px 5px;
		padding: 0 20px;
		top: 0;
		right: 0;
		height: 60px;
		line-height: 60px;
		cursor: pointer;
	}

}

@media screen and (min-width: 601px) {

	#root header {
		border-bottom: 1px solid #ccc;
	}

	#root header .container {
		display: flex;
		align-items: center;
	}

	#root header .logo {
		width: 100px;
	}

	#root header ul.navi {
		margin: 0;
		padding: 0;
		flex: 1;
		text-align: right;
	}

	#root header ul.navi li {
		display: inline-block;
	}

	#root header .navi-trigger {
		display: none;
	}

}

#root header .logo {
	font-weight: 600;
	text-align: center;
}

#root header ul.navi li {
	padding: 0 1rem;
	list-style-type: none;
}
