/** component - header **/

#root header {
	border-bottom: 1px solid #ccc;
}

#root header a {
	text-decoration: none;
}

@media screen and (max-width: 600px) {

	#root header {
		text-align: center;
	}

	#root header .container {
		height: 50px;
	}

	#root header .logo {
		line-height: 50px;
	}

	#root header ul.navi {
		position: absolute;
		display: none;
		padding: 10px 0 1rem;
	    width: 80%;
	    background-color: #fff;
	}

	#root .full-width header ul.navi {
		width: 100%;
	}

}

@media screen and (min-width: 601px) {

	#root header {
		border-bottom: 1px solid #ccc;
	}

	#root header .container {
		display: flex;
		height: 50px;
		align-items: center;
	}

	#root header .logo {
		width: 100px;
	}

	#root header ul.navi {
		margin: 0;
		padding: 0;
		flex: 1;
		text-align: right;
	}

	#root header ul.navi li {
		display: inline-block;
	}

}

#root header .logo {
	font-weight: 600;
}

#root header ul.navi li {
	padding: 0 1rem;
	list-style-type: none;
}
