.mark .content {
	line-height: 2rem;
	position: relative;
}

.mark .content .title {
	cursor: pointer;
}

.mark .content .title:hover::after {
	opacity: 0.1;
}

.mark .content>p {
	margin: 10px 5px;
}

.mark .content a {
	margin: 0 3px;
}

.mark .content .title {
	margin: 15px 0 10px;
}

.mark .content .title>span {
	position: relative;
}

.mark .content .title a {
	text-decoration: none;
}

.mark .content .title>span:hover::after {
	position: absolute;
	top: -10px;
	right: -25px;
	font-size: 10px;
	color: #dcdcdc;
	content: attr(type) '';
}

.mark .content .title>span::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #dcdcdc;
    transition: all 0.3s;
}

.mark .content .title>span:hover::before {
	width: calc(100% + 10px);
}

.mark .content .image {
	text-align: center;
}

.mark .content .image img {
	max-width: 80%;
}

.mark .content blockquote {
	margin: 10px 15px;
	padding-left: 10px;
	border-left: 3px solid #ccc;
	font-style: italic;
	color: rgba(0, 0, 0, 0.6);
}

.mark .content blockquote p {
	margin: 3px;
	padding: 10px 5px;
}

.mark .content table {
	margin: 10px 15px;
	width: calc(100% - 15px * 2);
	border-collapse: collapse;
}

.mark .content table,
.mark .content table tr th,
.mark .content table tr td {
	border: 1px solid #dededede;
}

.mark .content table tr th,
.mark .content table tr td {
	padding: 3px 5px;
}

.mark .content .code-block {
	position: relative;
	margin: 5px 15px;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f8f8f8;
	word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
}

.mark .content .code-block::before {
	position: absolute;
	z-index: 1;
	padding: 3px 5px;
	top: 0;
	right: 20px;
	background: #fff;
	font-size: 8px;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	line-height: 12px;
	content: attr(desc);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mark .content .code-block pre {
	position: relative;
	margin: 0;
	padding: 13px 20px;
	overflow-x: auto;
}

.mark .content .code-block pre code .hljs-comment {
	letter-spacing: 1px;
}

.mark .content .code-block pre code {
	display: inline-block;
	padding: 0.5rem 0;
	overflow: initial;
}

.mark .content ol,
.mark .content ul {
	list-style-position: inside;
	list-style-type: none;
	margin-left: 14px;
	padding-left: 0;
}

.mark .content ol li::before,
.mark .content ul li::before {
	padding-right: 10px;
	content: '•';
	color: #bcbcbc;
}

.mark .content li>code,
.mark .content .paragraph>code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
	background: #f8f8f8;
}

.mark .content blockquote>.paragraph>code {
	margin: 0 4px;
}

.mark .content .code-block code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
}


@media screen and (max-width: 600px) {
	.mark .content .code-block .lang-type {
		display: none;
	}
}

.mark .markdown p>code {
	margin: 0 3px;
	padding: 2px 3px;
	border: 1px solid rgba(230, 230, 230, 1);
}

