.root {
    position: absolute;

    padding: 10px;
    border: 2px solid var(--shadow-color);

    opacity: 0.5;

    user-select: none;
}

.root:hover {
    opacity: 1;
}

.root.right {
    right: 10px;
}

.root.bottom {
    bottom: 10px;
}

.root.left {
    left: 10px;
}

.root svg,
.root button,
.root select,
.root label,
.root input {
    margin-right: 5px;
}

.root button,
.root select,
.root input {
    padding: 5px 10px;
}

.root input,
.root select {
    outline: none;
}

.root select {
    height: 30px;
}

.root input:not([type="checkbox"]) {
    width: 45px;
}

.root svg {
    vertical-align: middle;
}