.root {
    background-color: #fff;
}

.root .editor {
    margin: 3px 3px 0 3px;
}

.root .editor textarea {
    padding: 5px;
    width: calc(100% - 5px * 2 - 1px * 2);
    border: 1px solid var(--border-color);
    height: 200px;
    outline: none;
    resize: none;
}

.root .toolbar {
    padding: 8px;
}

.root .toolbar .part {
    display: inline-block;
    margin-right: 10px;
    user-select: none;
}

.root .toolbar .selector {
    width: 300px;
}

.root .board {
    padding: 5px;
    border-top: 1px solid var(--border-color);
}