.post .content {
	line-height: 2rem;
	position: relative;
}

.post .content>.title {
	cursor: pointer;
}

.post .content>.title::after {
	position: absolute;
	margin-left: 5px;
	font-size: 1.5rem;
	opacity: 0;
	content: 'â˜';
}

.post .content>.title:hover::after {
	opacity: 0.05;
}

.post .content>p {
	margin: 10px 5px;
}

.post .content a {
	margin: 0 3px;
}

.post .content .title {
	margin: 15px 0 10px;
}

.post .content .image {
	text-align: center;
}

.post .content .image img {
	max-width: 80%;
}

.post .content blockquote {
	margin: 10px 15px;
	padding-left: 10px;
	border-left: 3px solid rgba(0, 0, 0, 0.6);
	font-style: italic;
	color: rgba(0, 0, 0, 0.6);
}

.post .content blockquote p {
	margin: 3px;
	padding: 10px 5px;
}

.post .content table {
	border-collapse: collapse;
}

.post .content table,
.post .content table tr th,
.post .content table tr td {
	border: 1px solid #dededede;
}

.post .content table tr th,
.post .content table tr td {
	padding: 3px 5px;
}

.post .content .code-block {
	position: relative;
	margin: 5px 10px;
	padding: 0;
	overflow-x: auto;
	border: 1px solid #ccc;
	background: #f8f8f8;
	word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
}

.post .content .code-block .hljs {
	margin: 10px 20px;
	padding: 0;
	overflow: initial;
}

.post .content .code-block .lang-type {
	position: absolute;
	padding: 1px 5px;
	z-index: 1;
	right: 10px;
	top: 0;
	background: #fff;
	font-size: 8px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.post .content .paragraph>code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
	background: #f8f8f8;
}

.post .content .m10 {
	margin: 10px;
	width: calc(100% - 10px * 2 - 10px);
}

.post .content .code-block code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
}

.container ul.post-navi {
	position: fixed;
	padding-right: 30px;
	left: 40px;
	top: 50px;
	list-style-type: none;
}