.post .markdown.outer {
	line-height: 2rem;
}

.post .markdown.outer p {
}

.post .markdown.outer p>a {
	margin: 0 3px;
}

.post .markdown.outer .image {
	text-align: center;
}

.post .markdown.outer .image img {
	max-width: 80%;
}

.post .markdown.outer blockquote {
	margin: 0 5px;
	padding-left: 10px;
	border-left: 3px solid grey;
}
