.root {
    display: flex;
    height: 100%;
}

.root .tree {
    position: relative;
    width: 230px;
    overflow: auto;
    border-right: 1px solid var(--border-color);
    line-height: 28px;
    user-select: none;
}

.root .tree ul {
    margin-left: 10px;
}

.root .tree ul li::marker {
    color: var(--border-color);
}

.root .tree ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.root .tree ul li a:global(.active) {
    opacity: 0.9;
    color: black;
}

.root .board {
    position: relative;
    flex: 1;
    overflow: auto;
}

.root .board .toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.root .board .content {
    padding: 10px;
    height: calc(100% - 10px * 2 -20px - 3px * 2);
}