.root {
    display: flex;
    height: 100%;
}

.root .tree {
    position: relative;
    width: 230px;
    overflow: auto;
    border-right: 1px solid var(--shadow-color);
    line-height: 28px;
    user-select: none;
}

.root .tree li::marker {
    color: var(--shadow-color);
}

.root .tree li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.root .tree li a:global(.active) {
    opacity: 0.9;
    color: var(--toast-default);
}

.root .board {
    flex: 1;
    overflow: auto;
}

.root .board .content {
    padding: 10px;
}