#murph-explorer .labels {
	padding: 10px;
	vertical-align: middle;
	font-size: 12px;
}

#murph-explorer .labels .label {
	margin: 3px;
	padding: 3px 10px;
	border-radius: 2rem;
	cursor: pointer;
	line-height: 20px;
	color: #ffffff;
}
