.root {
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}

.root th,
.root td {
    border: 1px solid var(--shadow-color);
}

.root th,
.root td {
    padding: 5px;
}

.root thead tr {
    background-color: rgba(0, 0, 0, 0.03);
}

.root tbody tr.row_even {
    background-color: rgba(0, 0, 0, 0);
    
}

.root tbody tr.row_odd {
    background-color: rgba(0, 0, 0, 0.01);
}

.root tbody tr td:nth-child(odd) {
    color: rgba(0, 0, 0, 0.9);
}

.root tbody tr td:nth-child(even) {
    color: rgba(0, 0, 0, 0.8);
}

.root tbody tr td a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}


.root tbody tr td.left {
    text-align: left;
}

.root tbody tr td.right {
    text-align: right;
}

.root tbody tr td.center {
    text-align: center;
}