.group {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.group legend {
    user-select: none;
}

.group .container {
    display: flex;
}

.group .container .item {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-right: 1px solid var(--border-color);
    text-align: center;
}

.group .container .item:last-child {
    margin-right: 0;
    border-right: none;
}