.root {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

.root .logo {
	align-items: center;
	font-weight: 600;
}

.root .logo img {
	margin-right: 10px;
	width: 32px;
	height: 32px;
}

/** component - header **/
.root .navi {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: calc(100% - 200px);
    text-align: right;
}

.root .navi a {
    display: inline-block;
	padding: 0 1rem;
	list-style-type: none;
}

.root .navi .trigger {
    display: none;
}
