.root :global(.gutter) {
    opacity: 0.3;
}

.root .left,
.root .right {
    padding: 5px;
    width: calc(100% - 5px * 2);
    height: calc(100% - 5px * 2);
}

/** JSON Editor **/
.root .right.viewer {
    padding-right: 0;
}

/** Path Query **/
.root .right.jsonpath {
    position: relative;
    overflow-y: auto;
}

.root .right.jsonpath .input {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}
.root .right.jsonpath .input textarea {
    max-height: 5rem;
}

/** JSON -> TOML **/
.root .right.toml {
    width: 100%;
    overflow: hidden;
}