.root :global(.gutter) {
    opacity: 0.3;
}

.root .left,
.root .right {
    padding: 5px;
    width: calc(100% - 5px * 2);
    height: calc(100% - 5px * 2);
}

/** JSON Editor **/
.root .right.viewer {
    padding-right: 0;
    
}

/** Path Query **/
.root .right.jsonpath textarea {
    max-height: 5rem;
}

/** JSON -> TOML **/
.root .right.toml {
    width: 100%;
    overflow: hidden;
}