/** component - footer **/
.root {
	margin-top: 0;
	min-height: 120px;
	border-top: 1px solid #ccc;
}

.root .sitemap {
	display: flex;
}


.root .sitemap .section {
	flex: 1;
}

.root .sitemap .section dt {
	font-weight: 800;
}

.root .sitemap .section dd {
	margin: 0;
}

.root .sitemap .section dd ul {
	padding-left: 15px;
}

.root .copyright {
	text-align: center;
	line-height: 3rem;
}