.root {
    margin: 0;
}

/** page */
.root .page {
    margin: 0;
}

/** component */
.demo {
    margin: 0;
}

.demo h3 {
    margin: 0;
    padding: 20px;
}

.demo .demo_board {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 30px);
    min-height: 600px;
    border: 1px solid var(--border-color);
}

/** NOT FOUND */
.root .not_found {
    margin: 10px;
}