.root {
    padding: 10px;
    width: calc(100% - 10px * 2);
    height: calc(100% - 10px * 2);
    overflow-y: auto;
}

.root .search {
    margin: 10px;
}

.root .main .item {
    display: inline-block;
    margin: 0 10px 10px;
    padding: 10px 0;
    width: calc(10% - 1px * 2 - 10px * 2);
    text-align: center;
    border: 1px solid var(--border-color);
}

.root .main .item .icon {
    padding: 20px 0;
}