#blog-post {
	min-height: 30vh;
}

#blog-post .top {
	display: flex;
	position: relative;
}

#blog-post .top h2 {
	flex: 1;
}

#blog-post .top .reaction {
	position: absolute;
	right: 25px;
	top: 25px;
	padding-right: 23px;
	width: 200px;
	text-align: right;
	
}

#blog-post .top .issue-reactions { 
	opacity: 0.05;
}

#blog-post:hover .top .issue-reactions { 
	opacity: 1;
}
