.root {
    display: flex;
    height: 100vh;
}

.root .rjv {
    margin: 0;
}

.root .editor, 
.root .viewer {
    position: relative;
}

.root .editor {
    padding: 3px;
    flex: 1;
    overflow-y: hidden;
}

.root .viewer {
    padding: 5px;
    width: 35%;
    overflow-y: scroll;
    border-left: 5px solid var(--shadow-color);
    user-select: none;
}

.root .viewer>span {
    height: 100%;
}

.root .viewer.wide {
    width: 55%;
}

.root .toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.root .toolbar>* {
    margin-right: 5px;
}

.root .toolbar select {
    height: 22px;
    line-height: 22px;
}