/** component - footer **/
#root footer {
	margin-top: 10px;
	min-height: 120px;
	border-top: 3px solid rgba(240, 240, 240, 0.7);
}

#root footer .sitemap {
	display: flex;
}

@media screen and (max-width: 600px) {
	#root footer .sitemap .links {
		display: none;
	}
}

#root footer .sitemap .section {
	flex: 1;
	margin-top: 20px;
}

#root footer .sitemap .section dt {
	font-weight: 800;
}

#root footer .sitemap .section dd {
	margin: 0;
}

#root footer .sitemap .section dd ul {
	margin-top: 10px;
	padding-left: 0;
	line-height: 25px;
}

#root footer .sitemap .section dd ul li {
	list-style-type: none;
}

#root footer .sitemap .logo {
	width: 150px;
}

#root footer .sitemap .logo img {
	position: relative;
	top: 20px;
	left: 15px;
	width: 72px;
	height: 72px;
}

#root footer .copyright {
	height: 75px;
	text-align: center;
	line-height: 1rem;
}

#root footer .copyright .vercel-logo {
	margin: 0 5px;
	vertical-align: middle;
	opacity: 0.6;
}

#root footer .sitemap .section.navi dd ul li::before,
#root footer .sitemap .section.links dd ul li::before {
	padding-right: 5px;
	content: "◦";
	color: rgba(170, 170, 170, 0.8);
}