.root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.root .body {
    position: relative;
    height: calc(100% - var(--navi-header-height) - 5px * 2 - 20px);
}

.root .body [role='status'] {
	margin-top: 10%;
}


.root .copyright {
    height: 19px;
    text-indent: 3px;
    border-top: 1px solid var(--border-color);
    background-color: #fff;
}