.root {
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 50px;
    opacity: 0.3;
}

.root[data-role='component'] {
    position: fixed;
}

.root:hover {
    opacity: 1;
}

.root[data-role='component'][data-postion='lt'] {
    left: 10px;
    top: 10px;
}

.root[data-role='component'][data-postion='rt'] {
    right: 10px;
    top: 10px;
}

.root[data-role='component'][data-postion='lb'] {
    left: 10px;
    bottom: 10px;
}

.root[data-role='component'][data-postion='rb'] {
    right: 10px;
    bottom: 10px;
}