.root {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    opacity: 0.8;
}

.root:global(.top), .root:global(.right), .root:global(.bottom), .root:global(.left) {
    position: fixed;
}

.root:global(.top) {
    top: 30px;
}

.root:global(.right) {
    right: 20px;
}

.root:global(.bottom) {
    bottom: 30px;
}

.root:global(.left) {
    left: 20px;
}

.root:hover {
    opacity: 1;
}

.root .item {
    background-color: #1da8a4;
}

.root .item {
    padding: 5px 20px;
    text-align: center;
    line-height: 25px;
}

.root .item, .root .item a {
    color: #fff;
}

.root .item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}