#anon-object {

}

#anon-object .top {
	display: flex;
	padding: 0 10px;
	line-height: 50px;	
	user-select: none;
    background: linear-gradient(#ffffff, #fdfefd, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#anon-object .top .meta {
	flex: 1;
}

#anon-object .top .label {
	display: inline-block;
	margin-right: 5px;
	padding: 3px 8px;
	border: 1px solid grey;
	border-radius: 3px;
	font-size: 10px;
	line-height: 10px;
	cursor: pointer;
	user-select: none;
}

#anon-object .top .children {
	display: inline-block;
}

#anon-object .top .children .single-select {
	position: relative;
	cursor: pointer;
}


#anon-object .top .children .single-select .items {
	display: none;
	position: absolute;
	padding: 10px;
	top: 45px;
	width: 320px;
	line-height: 30px;
	border: 1px solid #dedede;
	background-color: #fff;
	z-index: 9;
	cursor: default;
}

#anon-object .top .children .single-select .items .item {
	cursor: pointer;
}

#anon-object .top .children .single-select:hover .items {
	display: block;	
}

#anon-object .top .children .single-select .items .item .current {
	color: red;
}

#anon-object .top .children .title a {
	text-decoration: none;
}

#anon-object .top .operations {
	margin: 10px 5px;
	padding-left: 10px;
	height: 30px;
	border-left: 1px solid #dedede;
}

#anon-object .top .operations .back {
	width: 30px;
	line-height: 35px;
	text-align: center;
}

#anon-object .top .operations .back .icon svg {
	width: 18px;
	height: 18px;
}

#anon-object .layout {
	margin: 0 0 0 15px;
	padding: 0 0;
}

#anon-object .mark .content {
	margin: 0;
	height: calc(100vh - 60px);
	overflow-y: auto;
}

#anon-object .mark .content .markdown-to-jsx {
	margin-right: 15px;
}

/** 代码 **/
#anon-object .layout .code {
	margin-top: 10px;
}

#anon-object .layout .code .tab {
	margin: 0 3px 0 5px;
}
