#anon-object {

}

#anon-object .top {
	display: flex;
	padding: 0 10px;
	line-height: 50px;	
	user-select: none;
    background: linear-gradient(#ffffff, #fdfefd, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#anon-object .top .title {
	flex: 1;
}

#anon-object .top .labels {
	width: 200px;
	text-align: right;
	font-size: 8px;
	line-height: 50px;
}

#anon-object .top .labels .label {
	display: inline-block;
	padding: 3px 8px;
	border: 1px solid grey;
	border-radius: 3px;
	line-height: 12px;
	cursor: pointer;
	user-select: none;
}

#anon-object .layout {
	margin: 0 15px;
}

/** 代码 **/
#anon-object .layout .code {
	margin-top: 15px;
	border-top: 2px solid #efefef;
}

#anon-object .layout .code .title {
	padding: 0px 5px;
	cursor: pointer;
	line-height: 35px;
	user-select: none;
}

#anon-object .layout .code .content {
	padding: 5px;
	border: 1px solid #efefef;
	border-top: 3px solid #efefef;
	min-height: 130px;
	border-radius: 3px;
}

#anon-object .layout .code.fold .content {
	display: none;
}