#anon-object {

}

#anon-object .top {
	display: flex;
	padding: 0 10px;
	line-height: 50px;	
	user-select: none;
    background: linear-gradient(#ffffff, #fdfefd, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#anon-object .top .title {
	flex: 1;
}

#anon-object .top .labels {
	width: 200px;
	text-align: right;
	font-size: 8px;
	line-height: 50px;
}

#anon-object .top .labels .label {
	display: inline-block;
	padding: 3px 8px;
	border: 1px solid grey;
	border-radius: 3px;
	line-height: 12px;
	cursor: pointer;
	user-select: none;
}

#anon-object .layout {
	margin: 10px 10px 0 15px;
	padding: 10px 5px 0;
}

#anon-object .mark .content {
	margin-bottom: 0;
}

/** 代码 **/
#anon-object .layout .code {
	border-top: 3px solid #cecece;
	border-bottom: 1px solid #cecece;
}

#anon-object .layout .code .wrapper {
	position: relative;
	margin-left: 5px;
	margin-right: 3px;
	border-left: 1.2px solid #cecece;
	border-right: 1px solid #cecece;
}

#anon-object .layout .code .wrapper::before {
	position: absolute;
	top: 2px;
	left: -12px;
	content: attr(no);
	color: #cecece;
}

#anon-object .layout .code .wrapper .title {
	padding: 0px 5px;
	cursor: pointer;
	line-height: 35px;
	user-select: none;
}

#anon-object .layout .code .wrapper .content {
	padding: 5px;
	min-height: 130px;
}

#anon-object .layout .code .wrapper .title {
	border-left: 2px solid #ffffff;
}

#anon-object .layout .code.current .wrapper .title {
	border-left: 2px solid #cecece;
}

#anon-object .layout .code.fold .wrapper .content {
	display: none;
}