.post .content {
	line-height: 2rem;
}

.post .content>p {
	margin: 10px 5px;
}

.post .content a {
	margin: 0 3px;
}

.post .content .title {
	margin: 15px 0 10px;
}

.post .content .image {
	text-align: center;
}

.post .content .image img {
	max-width: 80%;
	border: 1px solid rgba(240, 240, 240, 0.9);
	border-top-width: 2px;
	border-left-width: 2px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #aaaaaa;
}

.post .content blockquote {
	margin: 10px;
	padding-left: 10px;
	border-left: 3px solid grey;
}

.post .content blockquote p {
	margin: 3px;
}

.post .content table {
	border-collapse: collapse;
}

.post .content table,
.post .content table tr th,
.post .content table tr td {
	border: 1px solid #dededede;
}

.post .content table tr th,
.post .content table tr td {
	padding: 3px 5px;
}

.post .content .paragraph>code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
	background: #f8f8f8;
}

.post .content .m10 {
	margin: 10px;
	width: calc(100% - 10px * 2 - 10px);
}

.post .content .flex-wrapper {
	display: flex;
}

.post .content .flex-wrapper>.flex-item {
	flex: 1;
	text-align: center;
}

.post .content .flex-wrapper>.flex-item>img {
	width: 90%;
}