.instance {
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--border-color);
}

.instance:not(.inline) {
    width: 100%;
}

.instance caption {
    font-size: 0.9em;
}

.instance td,
.instance th {
    padding: 0.35em 0.75em;
    vertical-align: top;
    font-size: 0.9em;
    border: 1px solid var(--border-color);
    border-top: 0;
    border-left: 0;
}

.instance th {
    line-height: 1.2
}
.frame {
    margin: 0;
}