.root {
    margin: 0;
}

.root .title {
    margin: 15px 0 10px;
}

.root .code {
    margin: 0;
}

.root .blockquote {
    margin: 0;
    text-indent: 10px;
    border-left: 5px solid var(--shadow-color);
}

.root .code_block {
    margin: 0;
}

.root .code_block :global(.linenumber) {
    margin: 0 5px 0 0;
    padding-left: 0 5px 0 5px;
    border-right: 1px solid var(--shadow-color);
}

.root .link {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.root .list {
    margin: 0;
}

.root .list .item {
    margin: 0;
}