.root {
    display: flex;
    height: 100vh;
}

.root .editor, .root .viewer {
    position: relative;
}

.root .editor {
    padding: 3px;
    flex: 1;
    overflow-y: hidden;
}

.root .viewer {
    padding: 5px;
    width: 35%;
    overflow-y: scroll;
    border-left: 5px solid var(--shadow-color);
}